# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [21]:
# import libraries
import pandas as pd

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [22]:
# import dataset
Pokemon = pd.read_csv("Pokemon.csv")

#### Print first 10 rows of `pokemon`.

In [23]:
# your code here
Pokemon.head(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [24]:
# your code here
print(Pokemon.groupby(['Type 1']).agg('count')['Name'])  
print(Pokemon.groupby(['Type 2']).agg('count')['Name']) #same as above

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: Name, dtype: int64
Type 2
Bug          3
Dark        20
Dragon      18
Electric     6
Fairy       23
Fighting    26
Fire        12
Flying      97
Ghost       14
Grass       25
Ground      35
Ice         14
Normal       4
Poison      34
Psychic     33
Rock        14
Steel       22
Water       14
Name: Name, dtype: int64

In [33]:
print('The unique  pokemon types are',Pokemon['Type 1'].unique()) #shows all the unique types in column
print('The number of unique types are',Pokemon['Type 1'].nunique()) #shows count of unique values

The unique  pokemon types are ['Grass' 'Fire' 'Water' 'Bug' 'Normal' 'Poison' 'Electric' 'Ground'
 'Fairy' 'Fighting' 'Psychic' 'Rock' 'Ghost' 'Ice' 'Dragon' 'Dark' 'Steel'
 'Flying']
The number of unique types are 18

In [34]:
print('The unique  pokemon types are',Pokemon['Type 2'].unique()) #shows all the unique types in column
print('The number of unique types are',Pokemon['Type 2'].nunique()) #shows count of unique values

The unique  pokemon types are ['Poison' nan 'Flying' 'Dragon' 'Ground' 'Fairy' 'Grass' 'Fighting'
 'Psychic' 'Steel' 'Ice' 'Rock' 'Dark' 'Water' 'Electric' 'Fire' 'Ghost'
 'Bug' 'Normal']
The number of unique types are 18

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [31]:
# your code here
# Let's make "Category" into an index, there are plenty of repetitions of those
Pokemon.pivot_table(index= ['Name'])
# we can see that:
# pandas did a group by Category
# it kept only the numeric columns
# he aggregated the results for those with the mean, which is his default aggregation

Pokemon.index = Pokemon.index.str.replace(".*(?=Mega)", "")
Pokemon.head(10)



# test transformed data
#pokemon.head(10)

<ipython-input-31-02f016f8a31c>:9: FutureWarning: The default value of regex will change from True to False in a future version.
  Pokemon.index = Pokemon.index.str.replace(".*(?=Mega)", "")

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
Mega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,1,False
Charizard,6,Fire,Flying,534,78,84,78,109,85,100,1,False
Mega Charizard X,6,Fire,Dragon,634,78,130,111,130,85,100,1,False
Mega Charizard Y,6,Fire,Flying,634,78,104,78,159,115,100,1,False
Squirtle,7,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [50]:
# your code here
# Attack and defense seems to be int
Pokemon["Attack"] = pd.to_numeric(Pokemon["Attack"], errors='coerce')
Pokemon["Defense"] = pd.to_numeric(Pokemon["Defense"], errors='coerce')

In [52]:
Pokemon['A/D Ratio']=Pokemon["Attack"]/Pokemon["Defense"]
Pokemon['A/D Ratio']

Name
Bulbasaur              1.000000
Ivysaur                0.984127
Venusaur               0.987952
Mega Venusaur          0.813008
Charmander             1.209302
                         ...
Diancie                0.666667
Mega Diancie           1.454545
HoopaHoopa Confined    1.833333
HoopaHoopa Unbound     2.666667
Volcanion              0.916667
Name: A/D Ratio, Length: 800, dtype: float64

#### Identify the pokemon with the highest `A/D Ratio`.

In [61]:
Pokemon['A/D Ratio'].max()
Pokemon[Pokemon['A/D Ratio']==Pokemon['A/D Ratio'].max()]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,attack,defense,A/D Ratio
Name,,,,,,,,,,,,,,,
DeoxysAttack Forme,386,Psychic,NaN,600,50,180,20,180,20,150,3,True,180,20,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [62]:
# your code here
Pokemon['A/D Ratio'].min()
Pokemon[Pokemon['A/D Ratio']==Pokemon['A/D Ratio'].min()]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,attack,defense,A/D Ratio
Name,,,,,,,,,,,,,,,
Shuckle,213,Bug,Rock,505,20,10,230,10,230,5,2,False,10,230,0.043478

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [91]:
# your code here
Pokemon['Combo_Type'] = Pokemon['Type 1'] + '-' + Pokemon['Type 2']
Pokemon['Combo_Type']

Name
Bulbasaur               Grass-Poison
Ivysaur                 Grass-Poison
Venusaur                Grass-Poison
Mega Venusaur           Grass-Poison
Charmander                       NaN
                           ...
Diancie                   Rock-Fairy
Mega Diancie              Rock-Fairy
HoopaHoopa Confined    Psychic-Ghost
HoopaHoopa Unbound      Psychic-Dark
Volcanion                 Fire-Water
Name: Combo_Type, Length: 800, dtype: object

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [97]:
# your code here
Pokemon.sort_values('A/D Ratio',ascending=False).head(5)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,attack,defense,A/D Ratio,A/D Ratio5,TYPE,Combo_Type,A/D Ratio_5
Name,,,,,,,,,,,,,,,,,,,
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False,52,43,4.0,False,NaN,NaN,None
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False,82,83,3.0,False,GrassPoison,Grass-Poison,None
Mega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False,100,123,3.0,False,GrassPoison,Grass-Poison,None
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False,62,63,2.0,False,GrassPoison,Grass-Poison,None
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False,49,49,1.0,False,GrassPoison,Grass-Poison,None

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [111]:
  # your code here
  # groupby(the dimensions you want to group by).agg({measure(s) to aggregate: aggegation function(s)})

AD5=Pokemon.groupby('Combo_Type')['A/D Ratio'].agg(max)  
AD5

Combo_Type
Bug-Electric    NaN
Bug-Fighting    NaN
Bug-Fire        NaN
Bug-Flying      NaN
Bug-Ghost       NaN
                 ..
Water-Ice       NaN
Water-Poison    NaN
Water-Psychic   NaN
Water-Rock      NaN
Water-Steel     NaN
Name: A/D Ratio, Length: 136, dtype: float64

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [112]:
# your code here

In [113]:
def avg(x):
    return x.mean()

pgb=Pokemon.groupby('Combo_Type').agg({'#':avg, 'Total':avg, 'HP':avg, 'Attack':avg, 'Defense':avg, 'Sp. Atk':avg, 'Sp. Def':avg, 'Speed':avg, 'Generation':avg, 'Legendary':avg, 'A/D Ratio':avg})

pgbAD5=pd.merge(left = pgb,
                right = AD5,
                how = 'inner',
                left_on = "Combo_Type",
                right_on= "Combo_Type")

pgbAD5

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio_x,A/D Ratio_y
Combo_Type,,,,,,,,,,,,
Bug-Electric,595.500000,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0,NaN,NaN
Bug-Fighting,214.000000,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0,NaN,NaN
Bug-Fire,636.500000,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0,NaN,NaN
Bug-Flying,286.285714,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0,NaN,NaN
Bug-Ghost,292.000000,236.000000,1.000000,90.000000,45.000000,30.000000,30.000000,40.000000,3.000000,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
Water-Ice,103.000000,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.0,NaN,NaN
Water-Poison,118.666667,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.0,NaN,NaN
Water-Psychic,111.800000,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.0,NaN,NaN
Water-Rock,430.000000,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.0,NaN,NaN
Water-Steel,395.000000,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.0,NaN,NaN